// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a{
  text-decoration: none;
}
#wrap{
  width: 100%;
  max-width: 1000px;
}
.button{/* div a につける(div width:100%) */
  display: block;
//  margin: 0 auto;
//  padding: 8px 0px;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
//  box-shadow: 3px 3px 3px #999;
  background: none;
}
.tb-centering{
  position: absolute;
  top:0;
  bottom: 0;
  margin: auto 0;
}

  #header{
    position: relative;
    height: 100px;
    width: 100%;
    margin-bottom: 30px;
    //border-bottom: 1px #000 solid;
  }
  .logo-inner{
    left: 50px;
  }
  .logo{
    font-size: 70px;
    color: #F4BB6F;
  }
  .history{
    right: 80px;
    height: 60px;
    width: 140px;
    font-size: 45px;
  }
  .history a{
    display: block;
    text-align: center;
      border-radius: 20px;
      box-shadow: 1px 1px 1px #999;
      padding: 5px;
    background-color: #F4BB6F;
    color: #fff;
  }
  .history a:hover{
    background-color: #fff;
    color: #F4BB6F;
    border: 2px #F4BB6F solid;
  }
  .report{

  }
  .report .table{
    margin: 20px 10%;
    width: 80%;
  }
  .report .table th{
    font-size: 40px;
  }
  .report .table td{
    font-size: 30px;
  }
  .map{
    height: calc(100vh-100px);
    height: 92vh;
    width: 100%;
    position: relative;
  }
  .map-question{
    position: absolute;
    z-index: 2;
    top: 40px;
    width: 80%;
    margin: 0 10%;
  }
  .map-question h2{
    font-size: 40px;
    background-color: #fff;
    text-align: center;
    padding: 10px;
  }
  .map-img{
    width: 100%;
    height: 100%;
  }
  .map-img img{
    display: block;
    height: 100%;
    width: auto;
  }
.done{
  width: 100%;
  margin-top: 150px;
}
.done-title{
  width: 100%;
  text-align: center;
  font-size: 50px;
}
.done .top-button{
  margin-top: 100px;
  width: 520px;
}
