// Place all the styles related to the notices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.notices{
  margin: 0 50px;
}
.notices-title{
  font-size: 50px;
}
.notices .table{
  margin-bottom: 50px;
}
.notices .table th{
  font-size: 45px;
}
.notices .table td{
  font-size: 40px;
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
.red{
  background-color: red;
}
.orange{
  background-color: orange;
}
.top-button{
  margin: 0 auto;
  width: 480px;
  }
.top-button a{
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #999;
  background-color: #F4BB6F;
  color: #fff;
}
.top-button a:hover{
  background-color: #fff;
  color: #F4BB6F;
  border: 2px #F4BB6F solid;
}
#situation-title{
  width: 100%;
}
.school{
  text-align: center;
  width: 100%;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.situation-sentence{
  text-align: center;
  width: 100%;
  font-size: 40px;
  margin-bottom: 30px;
}
#situation{
  position: relative;
  height: 320px;
  margin-bottom: 70px;
}
.situation-img img{
  border: 2px #999 solid;
  border-radius: 10px;
  width: 100%;
  height: 280px;
  margin-bottom: 10px;
}
.situation-img img:hover{
  opacity: 0.5
}
.situation-subtitle{
  text-align: center;
  font-size: 30px;
}
