<div id="wrap">
<div id="header" class="">
    <div class="logo-inner tb-centering">
      <h1 class="logo">AbuseReport</h1>
    </div>
      <div class="history tb-centering">
        <a class="" href="/notices">履歴</a>
      </div>
</div>
  <div class="done">
    <h2 class="done-title">ご報告ありがとうございました。</h2>
    <div class="top-button">
      <a href="/home">トップページへ戻ります</a>
    </div>
  </div>
  </div>
</div>
