<div class="map">
    <div class="map-question">
    <h2>どこの小学校ですか？</h2>
  </div>
    <div class="map-img">
      <a href="/notices/new">
        <img src="/images/map-img.png">
      </a>
    </div>
</div>
