<header id="header">
  <h1 class="logo">abuse-report</h1>
  <div class="history">
    <a href="/notices">履歴</a>
  </div>
</header>
<div id="map">
  <a href="/notices/new">
    <img src="/images/map-img.png">
  </a>
</div>
