<div id="wrap">
<div id="header" class="">
    <div class="logo-inner tb-centering">
      <h1 class="logo">AbuseReport</h1>
    </div>
      <div class="history tb-centering">
        <a class="" href="/notices">履歴</a>
      </div>
</div>
<div class="map">
    <div class="map-question">
    <h2>どこの小学校ですか？</h2>
  </div>
    <div class="map-img">
      <a href="/notices/new">
        <img src="/images/map-img.png">
      </a>
    </div>
</div>

</div>
