<header id="header">
  <h1 class="logo">abuse-report</h1>
  <div class="history">
    <a href="/notices">履歴</a>
  </div>
</header>
<div id="notice" style="display: none;">
  <h2 class=""></h2>
</div>
<div id="map">
  <a href="/notices/new">
  <h2>マップ画像<h2>
  </a>
</div>
