<!DOCTYPE html>
<html>
  <head>
    <title>AbuseReport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrap">
    <div id="header" class="">
        <div class="logo-inner tb-centering">
          <h1 class="logo">AbuseReport</h1>
        </div>
          <div class="history tb-centering">
            <a class="" href="/notices">履歴</a>
          </div>
    </div>
    <%= yield %>
  </div>
  </body>
</html>
