<div id="header" class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="logo">abuse-report</h1>
    </div>
      <div class="history col-sm-4">
        <a class="" href="/notices">履歴</a>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h2 class="col-sm-12">報告履歴</h2>
    <ul class="col-sm-12">
      <li class="">〇〇の報告は通報されました</li>
      <li class="">〇〇の報告は通報されました</li>
      <li class="">〇〇の報告は通報されました</li>
      <li class="">〇〇の報告は通報されました</li>
    </ul>
    <div class="col-sm-12">
      <a href="/home">トップページへ戻ります</a>
    </div>
  </div>
