<div id="header" class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="logo">abuse-report</h1>
    </div>
      <div class="history col-sm-4">
        <a class="" href="/notices">履歴</a>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h2 class="col-sm-12">報告履歴</h2>
  </div>
  <div class="row">
    <div class="col-sm-6 ol-md-6 col-sm-3-offset col-md-3-offset">
      <table class="table table-borderd">
        <tr>
          <th>id</th>
          <th>status_id</th>
        </tr>
        <% @notices.each do |notice| %>
        <tr>
          <td>notice.id</td>
          <td>notice.status_id</td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <a href="/home">トップページへ戻ります</a>
    </div>
  </div>
