  <div class="notices">
    <h2 class="notices-title">報告履歴</h2>
    <table class="table table-borderd">
        <tr>
          <th>理由</th>
          <th>日付</th>
          <th>状況</th>
          </tr>
          <tr>
            <td>1</td>
            <td class="blue">1</td>
            <td class="date">2017/8/16</td>
          </tr>
          <tr>
            <td>2</td>
            <td class="yellow">2</td>
            <td class="date">2017/8/17</td>
          </tr>
          <tr>
            <td>3</td>
            <td class="red">3</td>
            <td class="date">2017/8/16</td>
          </tr>
          <tr>
            <td>4</td>
            <td class="orange">4</td>
            <td class="date">2017/8/16</td>
          </tr>
        <% @notices.each do |notice| %>
        <tr>
          <td>notice.id</td>
          <td>notice.status_id</td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="top-button">
      <a href="/home">トップページへ戻ります</a>
    </div>
