<div id="situaiton-title" class="">
    <h2 class="school"><%= @school.name %>地区</h2>
    <p class="situation-sentence">どの状況が一番近いですか？</p>
</div>
  <div class="container">
    <div id="situations" class="row">
      <div id="situation" class="col-sm-6">
        <div class="situation-img"><a href="/create_notices?sign_id=1"><img class="" src="/images/nioi-img.png"></a></div>
        <h3 class="situation-subtitle">洋服が汚い</h3>
      </div>
      <div id="situation" class="col-sm-6">
        <div class="situation-img"><a href="/create_notices?sign_id=2"><img class="" src="/images/ohuro-img.jpg"></a></div>
        <h3 class="situation-subtitle">身なりが汚い</h3>
      </div>
      <div id="situation" class="col-sm-6">
        <div class="situation-img"><a href="/create_notices?sign_id=3"><img class="" src="/images/kyushoku-img.jpg"></a></div>
        <h3 class="situation-subtitle">食事が不十分</h3>
      </div>
      <div id="situation" class="col-sm-6">
        <div class="situation-img"><a href="/create_notices?sign_id=4"><img class="" src="/images/family-img.png"></a></div>
        <h3 class="situation-subtitle">家庭内不和</h3>
      </div>
      <div id="situation" class="col-sm-6">
        <div class="situation-img"><a href="/create_notices?sign_id=5"><img class="" src="/images/kega-img.png"></a></div>
        <h3 class="situation-subtitle">不自然な怪我</h3>
      </div>
      <div id="situation" class="col-sm-6">
        <div class="situation-img"><a href="/create_notices?sign_id=6"><img class="" src="/images/hatena-img.jpg"></a></div>
        <h3 class="situation-subtitle">何か気になる</h3>
      </div>
      <!--
      <div class="row col-sm-6">
      </div>
      <div class="row col-sm-6">
      <div class="situation col-sm-4"><a href="/home/done"><img class="" src="/images/ohuro-img.jpg" style="height: 100px; width: 100px;"></a></div>
      <div class="col-sm-8">身なりが汚い</div>
      </div>
    <div class="row col-sm-6">
      <div class="situation col-sm-4"><a href="/home/done"><img class="" src="/images/kyushoku-img.jpg" style="height: 100px; width: 100px;"></a></div>
      <div class="col-sm-8">食事が不十分</div>
    </div>
    <div class="row col-sm-6">
      <div class="situation col-sm-4"><a href="/home/done"><img class="" src="/images/family-img.png" style="height: 100px; width: 100px;"></a></div>
      <div class="col-sm-8">家庭内不和</div>
    </div>
    <div class="row col-sm-6">
      <div class="situation col-sm-4"><a href="/home/done"><img class="" src="/images/kega-img.png" style="height: 100px; width: 100px;"></a></div>
      <div class="col-sm-8">不自然な怪我</div>
    </div>
    <div class="row col-sm-6">
      <div class="situation col-sm-4"><a href="/home/done"><img class="" src="/images/hatena-img.jpg" style="height: 100px; width: 100px;"></a></div>
      <div class="col-sm-8">何か気になる</div>
    </div>
  </div>-->
</div>
</div>
