<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
</head>
<body>
  <header id="header">
    <h1 class="logo">abuse-report</h1>
    <div class="history">
      <h2>履歴</h2>
    </div>
  </header>
  <h2 class="school">〇〇小学校地区</h2>
  <p class="situation">どの状況が一番近いですか？</p>
  <div id="situations">
    <div class="situation"><img class="" src=""></div>
    <div class="situation"><img class="" src=""></div>
    <div class="situation"><img class="" src=""></div>
    <div class="situation"><img class="" src=""></div>
    <div class="situation"><img class="" src=""></div>
    <div class="situation"><img class="" src=""></div>
  </div>
</body>
</html>
