<header id="header">
  <h1 class="logo">abuse-report</h1>
  <div class="history">
    <h2>履歴</h2>
  </div>
</header>
<h2 class="school">〇〇小学校地区</h2>
<p class="situation">どの状況が一番近いですか？</p>
<div id="situations">
  <div class="situation"><a href="/home/done"><img class="" src="" style="height: 100px; width: 100px;"></a></div>
  <div class="situation"><img class="" src=""></div>
  <div class="situation"><img class="" src=""></div>
  <div class="situation"><img class="" src=""></div>
  <div class="situation"><img class="" src=""></div>
  <div class="situation"><img class="" src=""></div>
</div>
